body {
  background-color: #36454f;
  height: 100%;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}
#landing {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
#title {
  color: #f4c20d;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  width: 100%;
}
#titlejs {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
#res-download {
  visibility: hidden;
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 78vh;
  margin-right: 42vw;
  z-index: 1000;
}
#dwnld {
  color: #dcdce2;
  opacity: .8;
  text-decoration: none;
}
/*// size control // diametro*/
/*// radio*/
/*// opacity*/
/*// accelerate*/
.hoja1 {
  color: #dcdce2;
  opacity: .8;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  left: 30%;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 25px;
  line-height: 200px;
  z-index: -1;
  visibility: hidden;
}
.hoja2 {
  color: #dcdce2;
  opacity: .8;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 25px;
  line-height: 200px;
  z-index: 100;
  visibility: hidden;
}
.hoja3 {
  color: #dcdce2;
  opacity: .8;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  left: 70%;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 25px;
  line-height: 200px;
  z-index: 100;
  visibility: hidden;
}
.hoja:after,
.hoja:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
.hoja:after {
  box-shadow: inset 0 12.5px 0 rgba(250, 250, 0, 0.6), inset 12.5px 0 0 rgba(250, 200, 0, 0.6), inset 0 -12.5px 0 rgba(250, 150, 0, 0.6), inset -12.5px 0 0 rgba(250, 100, 0, 0.6);
  animation: rotar 2s -0.5s linear infinite;
}
.hoja:before {
  box-shadow: inset 0 12.5px 0 rgba(0, 250, 250, 0.6), inset 12.5px 0 0 rgba(0, 200, 200, 0.6), inset 0 -12.5px 0 rgba(0, 150, 200, 0.6), inset -12.5px 0 0 rgba(0, 200, 250, 0.6);
  animation: rotarIz 2s -0.5s linear infinite;
}
@keyframes rotar {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotarIz {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
